/* Além da criação do proprio style.css, importei a fonte "Montserrat" do Google Fonts. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    background-color: #fff;
    color: #292725;
    padding: 20px;
}

header {
    background: #88887e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.6;
    color: #292725;
    padding: 10px 0;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1, h2 {
    margin-bottom: 20px;
}

main {
    margin-top: 20px;
}

footer {
    background: #88887e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.432);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
}

button {
    background: #8e6203;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #292725;
}